:root {
  --Ivory-Mist: #f1efec;
  --Soft-Mushroom: #d4c9be;
  --Midnight-Blue: #123458;
  --Charcoal-Black: #030303;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100vh 1fr;
  grid-template-areas:
    "header main"
    "header main"
    "header footer";
  background-color: var(--Ivory-Mist);
  font-family: "Outfit", sans-serif, monospace;
}

.header {
  grid-area: header;
  background-color: var(--Midnight-Blue);
  color: white;
}

.logo {
  padding: 20px 20px 0 20px;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.add-note {
  padding: 10px 20px;
}

.add-note-button {
  background-color: transparent;
  border: none;
  font-family: "Outfit", sans-serif, monospace;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.2 ease;
}

.add-note-button:hover {
  color: grey;
  cursor: pointer;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px 10px;
  padding: 0 20px 70px 20px;
}

.footer {
  grid-area: footer;
  background-color: var(--Charcoal-Black);
  color: white;
  text-align: center;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 70px;
    grid-template-areas:
      "header"
      "main"
      "footer";

    height: 100vh;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
  }

  .logo {
    padding: 0;
  }
}
